/*EL CSS FUNCIONA POR ZONAS A EDITAR EJ.BODY LLEVA DENTRO TOdo LO QUE SE MODIFIQUE AHÍ*/
/* DESPUÉS H1 MODIFICA DENTRO Y APLICA POR BLOQUES*/




/*
body {
    color: black;
    /*url aplica .. subir/salir de carpeta actual, diagonal es ir a siguiente*/
    /* background-image: url("images/banderaMexico.jpg");
    background-color: #cccccc;
} */

/* h1 {
    color: #00ff00;
} */
