/*EL CSS FUNCIONA POR ZONAS A EDITAR EJ.BODY LLEVA DENTRO TODO LO QUE SE MODIFIQUE AHÍ*/
/* DESPUÉS H1 MODIFICA DENTRO Y APLICA POR BLOQUES*/



img {
  display: block;
  max-width: 100%;
  height: auto;
}



/*
body {
    color: black;
    /*url aplica .. subir/salir de carpeta actual, diagonal es ir a siguiente*/
    /* background-image: url("images/banderaMexico.jpg");
    background-color: #cccccc;
} */

/* h1 {
    color: #00ff00;
} */
